body{
    margin: 0;
    padding: 0;
    background-color: rgb(160, 156, 156);
}

.title{
    text-align: center;
}

.grid{
    display: flex;
    flex-direction: column;
    margin-top: 50px;   

}

.box{
    border:1px solid black;
    width: 30px;
    height: 30px;
}

.row{
    display: flex;
    justify-content: center;
}

.colored{
    background-color: blue;
}

button{
    height: 40px;
    width: 125px;
    border-radius: 8px;
    border-style: none;
    background-color: #3882F6 ;
    color:white;
    border: 2px solid white;
    font-size: 18px;
    font-weight: 500;

}

.sizebox{
    display: flex;
    justify-content: center;
}
