body{
    margin: 0;
    padding: 0;
}

.grid{
    display: flex;
    flex-direction: column;    

}

.box{
    border:1px solid blue;
    width: 20px;
    height: 20px;
}

.row{
    display: flex;
    justify-content: center;
}